
{% extends 'blogapp/base.html' %}
{% load bootstrap3 %}

{% block header %}
    <h1>Your themes</h1>
{% endblock header %}

{% block content %}

<ul>
    {% for post in themes %}

        <li><h4>
            {% if post.owner_post == req_user %} 
                <a href="{% url 'blogapp:edit_post' post.id %}">
                    (edit post)
                </a> -- 
            {% endif %}
                <a href="{% url 'blogapp:post' post.id %}">
                    {{post}}
                </a>
            <small>(author: {{ post.owner_post }})</small>
        </h4></li>

    {% empty %}
        <p>Not yet</p>
    {% endfor %}
</ul>

{% buttons  %}
    <a href="{% url 'blogapp:new_theme' %}">
        <button name="submit" class="btn btn-primary">
            create new theme
        </button>
    </a>
{% endbuttons %}

{% endblock content %}





